# GITIGNORE template for Wwise Project

.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml
# Don't ignore Wwise .dll and .lib files as these are needed for compiling
!Plugins/Wwise/*.dll
!Plugins/Wwise/*.lib